
<section class="main" [ngClass]="{hidden:  noTodoClass$ | async}">
    <input  id="toggle-all" class="toggle-all"
            [checked]="isAllTodosSelected$ | async" type="checkbox"
            (change) = "toggleAllTodos($event)">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <app-todos-todo
        *ngFor="let todo of visibleTodos$ | async"
        [todo] = "todo"
        [isEditing] ="editingId === todo.id"
        (setEditingId)="setEditingId($event)"

      >
        {{ todo.text}}
      </app-todos-todo>
    </ul>
</section>
